body {
  background-color: gainsboro;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 25px 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(163, 129, 84);
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
  scale: 1.2;
}

button:focus {
  outline: 0;
}
